@media screen and (max-width: 770px){
    .navbar-hide{
        display: none;
    }

    /*底部*/
    footer{
        padding: 0!important;
    }
    .footer_warp{
        min-width: 0;
        padding: 4px 0;
        background-color: #1f2d3d;
    }
    .footer_warp > a > img, .footer_warp > span{
        display: none;
    }
}

@media screen and (min-width: 770px){
    .navbar-nav > li > a{
        padding: 22px 18px;
    }
}



/*头部导航栏*/

/* 通用 */
.navbar-default{
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border: none;
    border-radius: 0;
    width: 100%;
    position: fixed;
    top: -1px;
    z-index:2992;
}
.container-fluid>.navbar-header{
    margin-top: 10px;
    margin-left: 10px;
}
.navbar-header > .navbar-logo > img{
    height: 30px;
    transform: translate(0,-30%)
}
.navbar-default .navbar-nav>li>a{
    color:#ccc;
}
.navbar-default .navbar-nav>li>a:focus{
    color:#ccc;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#ccc;
}
.navbar-header > .navbar-brand{
    margin-right: 30px;
    color:#424242;
}
.navbar-header > .navbar-brand:focus{
    color:#424242;
}
.navbar-header > .navbar-brand{
    line-height: 15px;
    font-size: 15px;
}

.navbar-header > .navbar-brand:hover{
    color: #49a9ee;
}

.navbar-nav > .nav-information i{
    display: block;
    transform: scale(1.4);
}

.nav-oneself > .dropdown-toggle > i{
    display: inline-block;
    transform: scale(1.4);
}

.navbar-nav > .nav-oneself > .dropdown-menu{
    left: -100px;
    border-radius: 5px;
}
.dropdown-menu > li > a{
    padding: 8px 30px 8px 20px;
}
.dropdown-menu > li > a > i{
    margin-right: 10px;
}
.dropdown-menu > li > a:hover{
    background-color: #49a9ee;
    color: #fff;
    transition: 500ms;
}
.dropdown-menu > .divider{
    margin: 5px 0
}
.nothing{
    width: 100%;
    height: 60px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #424242;
    background-color: transparent;
}

/* 透明背景头部 */
.index-head .navbar-default{
    background-color:transparent;
    border: none;
    border-radius: 0;
    width: 100%;
    position: absolute;
    top: -1px;
    z-index:2992;
    box-shadow: none;
}
.index-head .navbar-header{
    margin-left: 10px;
    margin-top: 10px;
}
.index-head .navbar-header > .navbar-logo > img{
    height: 30px;
    transform: translate(0,-30%)
}
.index-head .navbar-default .navbar-nav>li>a{
    color:#fff;
}
.index-head .navbar-default .navbar-nav>li>a:focus{
    color:#eee;
}
.index-head .navbar-default .navbar-nav>li>a:hover{
    color:#eee;
}
.index-head .navbar-header > .navbar-brand{
    margin-right: 30px;
    color:#fff;
}
.index-head .navbar-header > .navbar-brand:focus{
    color:#fff;
}
.index-head .navbar-header > .navbar-brand{
    line-height: 15px;
    font-size: 15px;
}

.index-head .navbar-header > .navbar-brand:hover{
    color: #eee;
}

.index-head .navbar-nav > .nav-information i{
    display: block;
    transform: scale(1.4);
}

.index-head .nav-oneself > .dropdown-toggle > i{
    display: inline-block;
    transform: scale(1.4);
}

.index-head .navbar-nav > .nav-oneself > .dropdown-menu{
    left: -100px;
    border-radius: 5px;
}

.index-head .dropdown-menu > li > a{
    padding: 8px 30px 8px 20px;
}

.index-head .dropdown-menu > li > a > i{
    margin-right: 10px;
}

.index-head .dropdown-menu > li > a:hover{
    background-color: #49a9ee;
    color: #fff;
    transition: 500ms;
}

.index-head .dropdown-menu > .divider{
    margin: 5px 0
}

.index-head .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #eee;
    background-color: transparent;
}
.navbar-nav>li>a {
    padding: 22px 18px 16px;
}
.navbar-nav{
    margin: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
}
.navbar-nav>.open>.dropdown-menu{
    background: #fff;
}

/*底部*/
footer{
    box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
    background-color: #1f2d3d;;
    position: relative;
    z-index: 999;

    /*    position: fixed;
        bottom: 0;
        left: 0;*/
}

.footer_warp{
    margin:0 auto;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
}

.footer_warp > a > img{
    height: 30px;
}

.footer-text{
    color: #8796a8;
    line-height: 33px;
}

/*侧边锚点*/
.anchor{
    position: absolute;
    right: 10px;
    transition: 500ms;
    border-radius: 8px 0 0 8px;
    z-index: 999;
}

.anchor > ul{
    position: relative;
    width: 40px;
    height: 150px;
    margin: 0;
}

.anchor > ul > li{
    position: absolute;
    left: 0;
    font-size: 16px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    line-height: 50px;
    width: 50px;
    white-space: nowrap;
    height: 50px;
    padding-left: 16px;
    transition: 300ms;
    cursor: pointer;
    overflow: hidden;
}

.anchor > ul > li > i{
    display: inline-block;
    margin-right: 15px;
    font-size: 22px;
}

.anchor > ul > li > a{
    width: 100%;
    height: 100%;
    display: block;
    transform: translate(-8px,-53px);
}

.anchor > ul > .anchor-consult{
    border-radius: 8px 0 0 0px;
}

.anchor > ul > .anchor-about{
    top:50px;
}

.anchor > ul > .anchor-top{
    border-radius: 0 0 0 8px;
    top:100px;
    position: relative;
}

.anchor > ul > .hover{
    border-radius: 8px 0 0 8px;
}

.anchor > span{
    width: 80px;
    height: 70px;
    position: absolute;
    top: -70px;
    left: -80px;
    background: url(../img/get-started-label-black.png) center no-repeat;
}
.container-fluid{
    position: relative;
}
.navbar-collapse{
    position: absolute;
    right: 15px;
    top: 0;
}

.navbar-logo>.mobile-none{
    display: block;
}
.navbar-logo>.mobile-block{
    display: none   ;
}


@media (max-width: 768px){
    /* .navbar-nav>.open>ul{
        background: #fff;
    } */
    .mobile>.open{
        background: #fff;
    }
    .mobile-white{
        height: 60px;
        top: 0;
        position: sticky;
        box-shadow: 0 0 5px rgba(0,0,0,.2);
    }
    .mobile-white>.navbar-default{
        position: fixed;
        background: #fff;
        box-shadow: none;
        width: 100%;
    }
    .index-head .navbar-default .navbar-nav>li>a{
        color: #c0c0c0;
    }
    #nav-white>.navbar{
        display: none;
    }
    .container-fluid>.navbar-collapse{
        margin-right: -16px;
    }
    .navbar-logo>.mobile-none{
        display: none;
    }
    .navbar-logo>.mobile-block{
        display: block;
    }
    .index-head .navbar-header > .navbar-logo > img{
        height: 24px;
    }
    .bottom{
        text-align: center;
    }
    .anchor>ul,.anchor>span{
        display: none;
    }
}



/*底部*/
footer{
    box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
    background-color: #1f2d3d;;
    z-index: 999;
}

.footer_warp{
    margin:0 auto;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    min-width: 700px;
}

.footer_warp > a > img{
    height: 30px;
}

.footer_warp > a > .font-xb{
    font-size: 30px;
    font-family: "华康海报体W12(P)";
    margin: 0;
    color: #fff;
    padding-left: 40px;
}

.footer-text{
    color: #8796a8;
    line-height: 33px;
}

/*侧边锚点*/
.anchor{
    position: absolute;
    right: 10px;
    transition: 500ms;
    border-radius: 8px 0 0 8px;
    z-index: 999;
}

.anchor > ul{
    position: relative;
    width: 40px;
    height: 150px;
    margin: 0;
}

.anchor > ul > li{
    position: absolute;
    left: 0;
    font-size: 16px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    line-height: 50px;
    width: 50px;
    white-space: nowrap;
    height: 50px;
    padding-left: 16px;
    transition: 300ms;
    cursor: pointer;
    overflow: hidden;
}

.anchor > ul > li > i{
    display: inline-block;
    margin-right: 15px;
    font-size: 22px;
}

.anchor > ul > li > a{
    width: 100%;
    height: 100%;
    display: block;
    transform: translate(-8px,-53px);
}

.anchor > ul > .anchor-consult{
    border-radius: 8px 0 0 0px;
}

.anchor > ul > .anchor-about{
    top:50px;
}

.anchor > ul > .anchor-top{
    border-radius: 0 0 0 8px;
    top:100px;
    position: relative;
}

.anchor > ul > .hover{
    border-radius: 8px 0 0 8px;
}

.anchor > span{
    width: 80px;
    height: 70px;
    position: absolute;
    top: -70px;
    left: -80px;
    background: url(../img/get-started-label-black.png) center no-repeat;
}